html, body
  -webkit-font-smoothing: antialiased !important

//@mixin title-font
//  font-family: 'Uni Sans Book', Helvetica, Arial, Sans-Serif

.mobile-only
  +media($desktop)
    display: none !important
  +media($mobile)
    display: auto

=color-customizations($color)
  .button:not(.secondary)
    background-color: $color
    border-color: $color
    //text-shadow: 0px 1px 1px shade($color,60%) //rgba(0,0,0, 0.3); 
    &:hover
      //color: $color
      color: white
      //border-color: $color
      //background-color: transparent !important
      background-color: lighten($color, 8%)
      border-color: lighten($color, 8%)
      //text-shadow: none
/*  h1, h2

    &:after
      background-color: $color*/ 

.highlight-type
  +subtle-shadow

body
  +color-customizations($blue)

.red-highlights
  +color-customizations($red)

.yellow-highlights
  +color-customizations($yellow)

.green-highlights
  +color-customizations($green)

.light-text
  *
    color: white
.capitalize
  text-transform: capitalize
.align-center
  text-align: center

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple]
  border-radius: 0 !important
  border: 1px solid rgb(166, 166, 166) !important

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple="multiple"]:focus
  border-radius: 0 !important
  border: 1px solid rgb(166, 166, 166) !important
  border-color: #979797 !important
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(100, 100, 100, 0.88) !important

#landing-header 
  //background-image: url('/assets/jogging.jpg')
  //position: relative
  a.button:not(.secondary)::after
    content: ''
    display: inline-block
    height: 31px
    width: 301px
    position: absolute
    left: 0
    top: 5rem
    //border: solid thin blue !important
    background-color: transparent 
    background-image: url('/assets/acceptance-icons.png') 
    background-repeat: no-repeat
    background-position: left bottom
    background-size: 301px 31px
  //.content
  //  padding-bottom: $base-spacing * 2 //4rem
  //  background-color: transparent 
  //  background-image: url('/assets/acceptance-icons.png') 
  //  background-repeat: no-repeat
  //  
  //  
  //  +media($mobile)
  //    background-position: center bottom
  //    background-size: contain
  //    background-size: 70%
  //
  //  +media($desktop)
  //    background-position: left bottom
  //    background-size: 301px 31px



#landing-benefits
  // top white to botton gray
  //+background(linear-gradient(180deg, white 60%, $light-gray))
  //padding-bottom: $double-base-spacing //$double-base-spacing
  +media($desktop)
    .inner
      border-top: dotted thin $light-gray

#landing-closing-action
  // top gray to botton white
  //+background(linear-gradient(0deg, white 60%, $light-gray))
.box
  .copy
    strong
      //font-family: 'Uni Sans Book'
      //font-weight: normal !important
    h3
      font-family: 'MetaPro-Normal'
      //line-height: 

#pricing-closing-action
  h2
    +font-size(2.5)
    font-family: 'MetaPro-Normal', 'Open Sans', Helvetica, Roboto, Arial, sans-serif

#login
  text-transform: uppercase
  border: solid thin white
  padding: 0.5rem 1rem
  border-radius: 2px
  background-color: rgba(47, 63, 78,0.5)
  +media($mobile)
    margin-top: 1rem
    display: inline-block