section.popup
  display: none
  width: 100%
  height: 100vh
  background-color: rgba(000, 000, 000, 0.7)
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 9999
  .outter
    max-width: 715px
    margin: auto !important
    left: 0 !important
    right: 0 !important
    +span-columns(7)
    position: absolute
    top: 6rem
    background-color: white
    line-height: .5rem
    +media($mobile)
      height: 100vh
      width: 100%
      top: 0
      padding-top: 1rem
    h6
      color: $Vivid_orange
    p
      color: $dark-gray
    .inner
      display: inline-block
      padding: 1rem
      +media($mobile)
        padding: 1rem
      .left-form
        width: 50%
        float: left
        padding: 1rem
        padding-right: 2rem
        +media($mobile)
          width: 100%
          padding-right: 1rem
        form
          border-right: 1px solid $dark-gray
          margin-right: -2rem
          padding-right: 2rem
          line-height: 1rem
          input[type="submit"]
            background-color: $color_medium_purple_approx
            border-radius: 0
            font-weight: 600
            line-height: 1.3rem
            height: 40px
      .right
        width: 50%
        float: right
        padding: 1rem
        padding-left: 2rem
        padding-top: 4.5rem
        +media($mobile)
          display: none
    .close
      position: absolute
      top: 1rem
      right: 1rem
      cursor: pointer