footer
  max-width: 1280px
  margin: 0 auto
  +pad-on-mobile
  $footer-background: $white
  $footer-link-color: transparentize($dark-gray, 0.6)
  $footer-disclaimer-color: transparentize($dark-gray, 0.6)
  background: $footer-background
  padding: $base-spacing * 2 $gutter
  width: 100%
  text-align: center

  #footer_wrapper
    width: 50%
    margin: auto
    a, h1, h2, h3, h5, h6, p, hr
      color: $dark-gray
    +clearfix
    +media($mobile)
      width: 95%
      margin-left: auto
      margin-right: auto
    .footer_top
      p
        padding-bottom: 1rem
      .button
        border-radius: 0
        color: $white
        background-color: $color_medium_purple_approx
        width: 17.5rem
        text-align: left
        height: 40px
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 900
        padding-left: 1rem
        text-transform: none
        line-height: 2.5rem
        text-shadow: none
        border-color: white
        margin-bottom: 3rem
        transition: all 0.2s ease-in-out
        +media($mobile)
          margin: 0
          margin-bottom: 2rem
        &:hover
          background-color: $Soft_violet
        +media($mobile)
          width: 100%
          border: none
        &:after 
          content: "+"
          color: $white
          background-color: $color_purple_heart_approx
          width: 40px
          height: 100%
          position: absolute
          right: 0
          font-size: xx-large
          text-align: center
          bottom: 0
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            line-height: 4.5vh
    .footer_mid
      hr
        border: 1px solid transparentize($footer-disclaimer-color, 0.3)
        margin: 0 auto $base-spacing
        width: 100%
    .footer_bot
      img
        padding-bottom: 1rem
        width: 170px
      ul
        display: inline-flex
        float: none
        margin-bottom: 1.5rem
        +media($mobile)
          display: block
          padding-left: 10%
        li
          +media($mobile)
            text-align: center
          //+media($mobile)
          //  text-align: left
          padding-right: 2rem
          //&:first-child
            //margin-left: -2rem
          a
            color: $footer-link-color
            &:hover
              color: transparentize($dark-gray, 0)
      h6
        font-family: HelveticaNeueLTPro-Lt
      .dev
        margin-bottom: 0
        #vlipco
          transition: all 0.2s ease-in-out
          &:hover
            color: $vlipco-red
footer.footer.compania
  padding-top: 0
  #footer_wrapper
    .footer_mid
      hr.bot
        display: none
      hr.top
        position: relative
        top: -2rem
        color: rgba(81, 79, 81, 0.78)
footer.sostenibilidad-footer
  padding: 0
  margin-top: -3rem