section.info-table
  +media($desktop)
    +span-columns(7)
    float: none
    margin: 0 auto
    line-height: 1.2rem
    font-size: .95rem
    margin-top: 4rem
    .inner
      padding-top: 4rem
      .header
        text-align: center
        hr
          width: 70%
          margin: 2rem auto
          border-bottom: 1.5px solid #AF92EC
      .row
        display: inline-block
        padding-bottom: 2rem
        .left
          width: 30%
          float: left
          padding-right: .5rem
          text-align: right
          h5
            font-weight: 600
          h6
            color: #6E6762
            font-size: 0.9rem
        .right
          width: 70%
          float: right
          p
            border-left: 1px solid #AF92EC
            padding-left: 1rem
  +media($mobile)
    padding: 1rem
    padding-top: 4rem