$navigation-background: white
$navigation-height: 6rem
header.navigation

  width: 100%
  z-index: 999

  +media($desktop)
    height: $navigation-height
    max-width: 1280px
    margin: 0 auto

  &.dark-version
    position: inherit
    background-color: $navigation-background

  +media($mobile)
    background-color: rgba($navigation-background, 0.5)
    text-align: left

  .wrapper
    +outer-container
    width: 100%
    +pad-on-mobile
    display: table
    height: $navigation-height
    z-index: 9999
    position: relative
    padding-left: 3rem
    margin: 0
    width: 100% !important
    max-width: none
    display: inline-block
    line-height: 7rem
    &, a
      color: white

    .logo
      display: inherit
      vertical-align: bottom
      +media($desktop)
        padding-right: 2rem
        position: relative
        padding-left: 1.9rem

      +media($mobile)
        position: relative
        z-index: 1
  #open-menu-button

    display: block 
    float: right
    padding: 0 0.5rem
    margin: 0.5rem
    font-size: 1.5rem
    border: none
    & > span::before
      vertical-align: middle
    +media($mobile)
      background: rgba(255,255,255,0.8) url("http://i.imgur.com/vKRaKDX.png") center no-repeat
      background-size: 80%
      width: 30px
      height: 30px
  #main-nav, #secondary-nav
    line-height: 6rem
    float: right
    padding-right: 12.1rem
    +media(max-width 1171px)
      padding-right: 10rem
    .menu
      list-style-type: none
      +media($mobile)
        clear: both

      li
        +media($desktop)
          margin-left: 2rem
          display: inline
        +media($mobile)
          border-bottom: solid 1px rgba(0, 0, 0, 0.2)
        a
          color: $dark-gray
          font-family: HelveticaNeueLTPro-Lt
          font-size: 1.2rem
          font-weight: 500
          
  #main-nav
    +media(max-width 1024px)
      top: 0
      right: 0
      position: absolute
    +media($mobile)
      width: 100%
      position: relative
      right: 0
      top: 0
      height: 100%
      box-shadow: none
      background-color: transparent
      overflow: visible
      +transition(width 0.5s ease-in 0s)
      &.open
        width: 100% !important
        overflow: visible
    .menu
      display: inline-block
      right: 1.7rem
      float: right
      position: relative
      +media(max-width 1024px)
        right: 0rem
      +media($mobile)
        position: absolute
        display: none
        background-color: white
        float: none
        line-height: 3rem
        width: 100%
      .nav-link:last-child
        background-color: $amarillo-gamin
        width: 100px
        font-weight: 500
        height: 50px
        padding-left: 1.5rem
        text-transform: uppercase 
        padding-right: 1.5rem
        padding-top: .8rem
        padding-bottom: .5rem
        transition: all 0.5s
        margin-left: 5rem
        cursor: pointer
        +media(max-width 1138px)
          margin-left: 2rem
        +media($mobile)
          background-color: transparent
          width: inherit
          height: inherit
          padding-left: 0
          text-transform: inherit 
          padding-right: inherit
          padding-top: 0
          padding-bottom: 0
          margin-left: inherit
          border-bottom: none

        &:hover
          background-color: $Vivid_orange
        a
          color: white
          border-color: transparent !important
          +media($mobile)
            color: $grayish_magenta

    .drop_down
      position: absolute
      right: 2.5rem
      top: 1.5rem
      +media(max-width 1024px)
        right: 2.8rem
      +media($mobile)
        right: -0.5rem
        top: -2.8rem
      i
        color: rgba(81, 79, 81, 0.4)
        font-size: larger
        position: absolute
        right: 6rem
        top: -1.3rem
        transition: all 0.5s
        +media(max-width 1024px)
          right: 5rem
        +media($mobile)
          right: 5.5rem
          top: -2.2rem
      ul
        +media($mobile)
          padding: 0
        li
          background-color: white
          width: 6.5rem
          text-align: center
          padding: 0
          line-height: 2.5rem
          padding-top: .281rem
          transition: all 0.5s
          +media($mobile)
            line-height: 1rem
            border-bottom: none
          //&:hover
            //background-color: rgba(000, 000, 000, 0.8)
            //a
              //color: #fff
          a
            color: rgba(81, 79, 81, 0.4)
            border-color: transparent

          //&:last-child
            //display: none
            //top: 4.5rem
            //line-height: 2.5rem
            //transition: all 0.5s
            //&:hover
              //background-color: $black_80
              //a
                //color: #fff*/
            a
              border-color: transparent !important
      //&:hover li:last-child
        //display: block 
      &:hover i
        color: $amarillo-gamin
        display: none


    a
      +media($desktop)
        border-bottom: solid thin transparent
        +transition(border-color 0.25s ease-in 0s)          
        &:hover
          border-color: $red !important

    #close-menu-button
      position: absolute
      top: 2rem
      right: 2rem
      display: block

    +media($mobile)
      ul
        padding: 1.5rem 3rem
      
      li
        padding: 0.5em 0
        display: block
        text-align: left

  #secondary-nav
    +media($mobile)
      display: none

header.navigation.transparent_nav
  background-color: transparent
  position: absolute
  +media($desktop)
    max-width: 1280px
    left: 0
    right: 0
    margin-left: auto
    margin-right: auto
  #main-nav 
    .menu
      li
        a
          color: white
          +media($mobile)
            color: $grayish_magenta
    .drop_down
      i
        color: white
      ul
        li
          background-color: transparent
          a
            color: white

header.navigation.green
  background-color: $Soft_lime_green
  width: 100%
  max-width: none
  .wrapper
    max-width: 1280px
    margin: 0 auto
    display: -webkit-box
    #main-nav
      .menu
        .nav-link
          a
            color: white
            font-weight: 900
      .drop_down
        i
          color: $white
        ul
          .nav-link
            background-color: inherit
            a
              color: $white
