section.photo-testimonial
  +media($desktop)
    max-width: 1280px
    float: none
    margin: 0 auto
    line-height: 1.2rem
    font-size: 1rem
    .inner
      +span-columns(9)
      margin: 0 auto
      float: none
      margin-right: auto !important
      .header
        +span-columns(7)
        float: none
        margin: 0 auto
        hr
          width: 90%
          margin: 2rem auto
          border-bottom: 1.5px solid $Soft_violet
      .testimonial-row
        display: inline-block
        box-sizing: border-box
        width: 100%
        .block
          width: 29.8525%
          display: inline-block
          margin: 1rem
          float: left
          img
            width: 320px
            height: 320px
            min-width: 100%
          .testimonial
            border-left: 3px solid $Vivid_orange
            padding-left: 1rem
  +media($mobile)
    padding-left: 1rem
    padding-right: 1rem
    margin-top: -5rem
    h2
      font-size: 1.8rem