+media($desktop)
  section.picture-drop
    width: 100%
    margin-top: 4rem
    .inner
      width: 82%
      margin: 0 auto
      figure
        margin: 0
        img
          width: 80%
          margin-left: 10%
+media($mobile)
  section.picture-drop
    margin-top: 3rem
    .inner
      figure
        margin: 0