+media($desktop)
  section.products-table
    max-width: 1280px
    margin: 0 auto
    .inner
      padding-left: 5rem
      padding-right: 4.2rem
      padding-top: 4rem
      padding-bottom: 2rem
      .title
        padding-bottom: 1rem
      .products-list
        .row
          margin-left: 2rem
          margin-bottom: 2.5rem
          display: table
          width: 90%
          background-color: rgba(128, 128, 128, 0.21)
          min-height: 130px
          max-height: 145px
          .left
            display: table-cell
            text-align: right
            padding-right: 2rem
            padding: 1rem
            .container
              border-right: 2px solid $Soft_lime_green
              height: 94px
              padding-right: 1.5rem
              h5, h6
                margin: 4px
              .formula
                font-size: .8em
          .center
            display: table-cell
            max-width: 530px
            padding-left: 1rem
            padding-right: 2rem
          .right
            position: relative
            width: 18%
            display: table-cell
            margin: 0
            padding: 0
            min-height: 100%
            position: relative
            background-color: $Soft_lime_green
            p
              position: absolute
              top: 50%
              transform: translateY(-50%)
              padding-left: 2rem
              margin-left: 1.5rem
              a
                color: white
                font-weight: 900
            &:after
              left: 100%
              top: 50%
              border: solid transparent
              content: " "
              height: 0
              width: 0
              position: absolute
              pointer-events: none
              border-color: rgba(136, 183, 213, 0)
              border-left-color: $Soft_lime_green
              border-width: 64px
              margin-top: -64px
+media($mobile)
  section.products-table
    .inner
      .title
        padding-top: 4rem
      .products-list
        .row
          border-bottom: 2px solid $black_06
          width: 90%
          margin: 0 auto
          margin-bottom: 4.5rem
          &:last-child
            border-bottom: none
          .right
            p
              a
                color: $color_emerald_approx
                font-size: larger
