+media($desktop)
  section.product-download
    width: 100%
    .inner
      max-width: 1280px;
      margin: 0 auto
      width: 100%
      .row
        position: relative
        display: table
        width: 90%
        margin: 0 auto
        margin-bottom: 2.5rem
        margin-top: 2.5rem
        background-color: rgba(128, 128, 128, 0.21)
        height: 70px
        line-height: 70px
        padding: 1rem
        .title
          display: table-cell
          text-align: center
          border-right: 2px solid $black_50
        .col
          display: table-cell
          text-align: center
          a
            color: $black_50
            transition: all 0.2s ease-in-out
            &:hover
              color: black
+media($mobile)
  section.product-download
    .inner
      .row
        padding-top: 3rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid $black_06
        width: 90%;
        margin: 0 auto
        &:last-child
          border-bottom: none
        .col
          a
            color: $color_emerald_approx