section.text-full.first_content
  //+background(center no-repeat $dark-gray scroll)
  background-repeat: no-repeat
  background-size: cover
  background-position: center bottom
  background-color: white
  
  &.color
    background-color: white

  +media($mobile)
    background-position: left bottom



  &.right-focus
    +media($mobile)
      background-position: right bottom
    +media($desktop)
      .content
        +shift(8)

  .inner
    +outer-container
    padding: $double-base-spacing 0
    max-width: 1280px
    padding-left: 5rem
    +media($mobile)
      padding-left: 0

    .content
      +pad-on-mobile
      +media($desktop)
        +span-columns(6)
      h1, h2, h3, p
        color: white !important
        text-shadow: inherit
      h2
        font-family: MetaPro-Normal
        font-weight: 900
        +media($mobile)
          position: relative
          top: 1rem
      p
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 600
        font-size: .95rem
      .button
        border-radius: 0
        color: $color_medium_purple_approx
        background-color: $white
        width: 17rem
        text-align: left
        height: 40px
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 900
        padding-left: 1rem
        text-transform: none
        line-height: 2.5rem
        text-shadow: none
        border-color: white
        transition: all 0.2s ease-in-out
        +media($mobile)
          width: 87%
          font-size: small
          margin-left: -2rem
        &:after 
          content: "+"
          color: $color_medium_purple_approx
          background-color: $white
          width: 40px
          min-height: 100%
          position: absolute
          right: -44px
          font-size: xx-large
          text-align: center
          bottom: -1px
          transition: all 0.2s ease-in-out
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            line-height: 4.5vh
        &:hover
          color: white
          background-color: $color_emerald_approx
          border-color: $color_emerald_approx
          &:after
            color: white
            background-color: $color_emerald_approx
    .side-image
      text-align: center

section.text-full.second_content
  margin-bottom: -4rem
  margin-top: 1rem
  +media($mobile)
    background-position: left bottom
  &.right-focus
    +media($mobile)
      background-position: right bottom
    +media($desktop)
      .content
        +shift(8)
  .inner
    +outer-container
    padding: $double-base-spacing 0
    max-width: 1280px
    padding-right: 1.7rem
    margin: 0 auto
    +media($mobile)
      padding-right: 0
    .content
      float: right !important
      width: 48% !important
      +pad-on-mobile
      +media($mobile)
        width: 100% !important
      +media($desktop)
        +span-columns(8)
      //padding: $base-spacing 0
      h1, h2, h3, p
        text-shadow: none
        color: $dark-gray !important
      h2
        font-family: MetaPro-Normal
        font-weight: 900
      p
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 500
        font-size: .95rem
      .button
        border-radius: 0
        color: $white
        background-color: $color_medium_purple_approx
        width: 24rem
        text-align: left
        height: 40px
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 900
        padding-left: 1rem
        text-transform: none
        line-height: 2.5rem
        text-shadow: none
        border-color: white
        transition: all 0.2s ease-in-out
        &:hover
          background-color: $Soft_violet
        +media($mobile)
          position: relative
          width: 100%
          font-size: x-small
          margin: 0 auto
          border: none
          top: 11rem
        &:after 
          content: "+"
          color: $white
          background-color: $color_purple_heart_approx
          width: 40px
          height: 100%
          position: absolute
          right: 0
          font-size: xx-large
          text-align: center
          bottom: 0
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            line-height: 4.5vh
    .content.side-image
      margin-right: -2rem
      +media($mobile)
        margin-right: 0
      img
        position: relative
        left: 4rem
        top: -3rem
        +media($mobile)
          top: -4rem
          left: 0
section.first_content.second_part
  position: relative
  .inner
    max-width: 1280px
    .content
     .button
        color: $dark_green
        font-family: HelveticaNeueLTPro-Lt
        width: 16rem
        &:after
          color: $dark_green
        &:hover
          color: white
          background-color: $color_medium_purple_approx
          border-color: $color_medium_purple_approx
          &:after
            color: white
            background-color: $color_medium_purple_approx

section.text-full.company_history
  //+background(center no-repeat $dark-gray scroll)
  background-repeat: no-repeat
  background-size: cover
  background-position: center bottom
  background-color: white
  padding-top: 6rem
  
  &.color
    background-color: white

  //width: 100%

  +media($mobile)
    background-position: left bottom



  &.right-focus
    +media($mobile)
      background-position: right bottom
    +media($desktop)
      .content
        +shift(8)

  .inner
    +outer-container
    padding: $double-base-spacing 0
    max-width: 1280px
    padding-left: 5rem
    +media($mobile)
      padding-left: 0
    .content
      +pad-on-mobile
      +media($desktop)
        +span-columns(6)
      //padding: $base-spacing 0
      h1, h2, h3, p
        color: white !important
        text-shadow: inherit
      h2
        font-family: MetaPro-Normal
        font-weight: 900
        +media($mobile)
          position: relative
          top: 1rem
      p
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 600
        font-size: .95rem
      .button
        border-radius: 0
        color: $color_medium_purple_approx
        background-color: $white
        width: 18rem
        text-align: left
        height: 40px
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 900
        padding-left: 1rem
        text-transform: none
        line-height: 2.5rem
        text-shadow: none
        border-color: white
        +media($mobile)
          width: 78%
          font-size: small
          margin-left: -2rem
        &:after 
          content: "+"
          color: $color_medium_purple_approx
          background-color: $white
          width: 40px
          min-height: 100%
          position: absolute
          right: -44px
          font-size: xx-large
          text-align: center
          bottom: -1px
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            line-height: 4.5vh
    .side-image
      text-align: center
section.text-full.second_content.compania
  margin-top: 0
  background-color: $lime_green
  padding-bottom: 28px
  .inner
    position: relative
    max-width: 1280px
    margin: 0 auto
    padding-right: 4rem
    +media($mobile)
      padding-right: 0
    .content
      h2, p
        text-shadow: inherit
        color: white !important
      p
        font-weight: 600
    .content.highlight-type
      margin: 0 auto
      padding-left: 2rem
      +media($mobile)
        padding-right: 1rem
        padding-left: 1rem
    .content.side-image
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 50%
      margin-right: -2rem
      padding-left: 5rem
      img
        left: 0
        top: 0
      +media($mobile)
        display: none
section.text-full.second_content.sustainability
  .inner
    .content.side-image
      img
        top: -4rem
        +media($mobile)
          top: -2rem