body
  min-height: 100%
  #video_hero_wrapper
    position: relative
    height: calc(91vh - 6rem)
    overflow: hidden
    +media($mobile)
      box-sizing: border-box
      height: 38rem
      width: 100%
      float: left
      background-color: $white
    .layout
      &:after
        background-color: rgba(0, 0, 0, 0.25)
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
      video 
        position: absolute
        top:0
        bottom:0
        left: 0
        margin: 0
        padding: 0
        min-width: 100%
        max-width: 200%
        min-height: 100%
        width: auto
        +media($mobile)
          display: none
    .inner
      max-width: 1280px
      position: absolute
      height: 100%
      margin: 0 auto
      left: 0
      right: 0
    #main_box 
      position: absolute
      margin: 0
      padding-left: 2rem
      padding-right: 2rem
      padding-top: 2rem
      padding-bottom: 0
      top: 4rem
      left: 3rem
      width: 570px
      text-align: left
      color: $white
      background-color: $black_70
      +media($mobile)
        display: block
        position: relative
        width: 100%
        left: 0
        top: 0
        height: 38rem
      h3
        font-family: MetaPro-Normal
        font-size: 1.5rem
        line-height: 15px
        a
          color: $white
        &:nth-child(1)
          color: $white
        +media($mobile)
          line-height: 1.5rem

        &:nth-child(2)
          color: $color_blue_bell_approx
          font-weight: 900
      p
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 600
        font-size: 0.9rem
        padding-bottom: 1.5rem
        margin-bottom: 0

      .firstw 
        font-weight: 900

      .secondw 
        font-style: italic
    #rigth_box 
      height: 100%
      position: relative
      top: 0
      right: 0
      float: right
      height: 100vh
      +media($mobile)
        display: none
      #top_box 
        position: absolute
        top: 0
        right: 0
        width: 45vh
        max-width: 390px
        height: 100%
        background-color: $color_emerald_50_approx
        color: $white
        padding-left: 4rem
        padding-right: 4rem
        overflow: hidden
        margin-right: 4rem
        +media(max-width 1024px)
          margin-right: 3rem
        +media($mobile)
          width: 100%
          height: 30%
          position: relative
        h5
          background-color: $color_emerald_approx
          text-align: center
          margin-left: -4rem
          margin-right: -4rem
          position: relative
          padding-top: 1rem
          padding-bottom: 0.5rem
          font-weight: 900
          color: $white
          font-family: MetaPro-Normal
          margin-top: 2rem
          margin-bottom: 15%
          &:after
            content: ""
            background: url('/assets/topterra.png') no-repeat 0 0
            background-size: 5rem
            position: absolute
            top: -1rem
            width: 6rem
            left: 0.5rem
            height: 6rem
        p
          font-family: HelveticaNeueLTPro-Lt
          font-weight: 600
          font-size: 78%
          padding-bottom: 5%
          margin: 0
          +media(max-width 1024px)
            font-size: 1.5vw
        .col-img
          padding-bottom: 4%
        #pdf_btn_gray 
          position: relative
          .button 
            border-radius: 0
            background-color: $black_50
            font-family: HelveticaNeueLTPro-Lt
            font-weight: 900
            width: 14.5rem
            text-align: left
            height: 40px
            line-height: 2.5rem
            transition: all 0.2s ease-in-out
            border: none
            text-transform: none
            letter-spacing: 0
            padding-left: 1rem
            text-shadow: none
            +media($mobile)
              width: 100%
            &:hover
              background-color: $black_70
            i
              position: absolute
              right: 8px
              z-index: 1
              font-size: x-large
              bottom: -5px
              +media($mobile)
                right: -32px
            &:after 
              content: "+"
              color: $white
              background-color: $black_70
              width: 40px
              height: 40px
              position: absolute
              right: 0
              font-size: xx-large
              text-align: center
              bottom: 0
              +media($mobile)
                right: -40px
    #contact_btn 
      position: absolute
      bottom: 2rem
      left: 4.9rem
      width: 18rem
      +media(max-width 1275px)
        bottom: 4rem
        left: 3rem
      +media($mobile)
        bottom: 2rem
        left: 0
        z-index: 1
      .button 
        border-radius: 0
        background-color: $color_medium_purple_approx
        width: 100%
        text-align: left
        height: 40px
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 900
        line-height: 2.5rem
        border: none
        text-transform: none
        padding-left: 1rem
        letter-spacing: 0
        text-shadow: none
        transition: all 0.2s ease-in-out
        &:hover
          background-color: $Soft_violet
        +media($mobile)
          width: 100%
          font-size: small
        &:after 
          content: "+"
          color: $white
          background-color: $color_purple_heart_approx
          width: 40px
          min-height: 100%
          position: absolute
          right: -40px
          font-size: xx-large
          text-align: center
          bottom: 0
          +media(max-width 1166px)
            right: -33px
          +media($mobile)
            right: -22px
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            line-height: 4.5vh
    #pdf_btn_green
      position: absolute
      bottom: 2rem
      left: 27rem
      width: 18rem
      +media(max-width 1275px)
        bottom: 0.28rem
        left: 3rem
      +media($mobile)
        bottom: 6rem
        left: 0
        z-index: 1
      .button 
        border-radius: 0
        background-color: $color_emerald_approx
        width: 12rem
        text-align: left
        height: 40px
        font-family: HelveticaNeueLTPro-Lt
        font-weight: 900
        line-height: 2.5rem
        border: none
        text-transform: none
        padding-left: 1rem
        letter-spacing: 0
        text-shadow: none
        transition: all 0.2s ease-in-out
        +media(max-width 1166px)
          width: 97.5%
        +media($mobile)
          width: 95%
          font-size: small
        &:hover
          background-color: $Soft_lime_green
        i
          position: absolute
          right: -32px
          z-index: 1
          font-size: x-large
          bottom: -5px
          +media($mobile)
            right: -28px
        &:after 
          content: ""
          color: $white
          background-color: $color_goblin_approx
          width: 40px
          height: 40px
          position: absolute
          right: -40px
          font-size: xx-large
          text-align: center
          bottom: 0
          +media($mobile)
            right: -36px